{% extends 'auth_base.html' %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center min-vh-100">
	<div class="card shadow p-4" style="max-width: 400px; width: 100%;">
		<h3 class="text-center mb-4">Log In</h3>
		<form action="{{ url_for('auth.login') }}" method="post">
			<div class="mb-3">
				<label for="username" class="form-label"><b>Username</b></label>
				<input type="text" name="username" class="form-control" placeholder="Enter your username" id="username" required>
			</div>
			<div class="mb-3">
				<label for="password" class="form-label"><b>Password</b></label>
				<input type="password" name="password" class="form-control" placeholder="Enter your password" id="password" required>
			</div>
			<button type="submit" class="btn btn-primary w-100">Log In</button>
		</form>
	</div>
</div>
{% endblock content %}
